<% layout("/layouts/boilerplate")%>
  <body>
    <div class="w-full h-screen ">
      <h1 class="text-5xl">All Listings</h1>
      <form method="GET" action="/listings/new">
        <button
          class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >
          New Listing
        </button>
      </form>
      <ul class="mt-2">
        <%listings.forEach((listing) => {%>
        <li><a href="/listings/<%=listing._id%>"><%= listing.title %></a></li>
        <%})%>
      </ul>
    </div>
  </body>
</html>
